// Color tokens

$color-primary: #021526;
$color-primary-blue: #0b2f9f;

$color-text-primary: #000;
$color-text-secondary: #767676;
$color-text-disabled: #999;

$color-bg-soft: #f6f7fb;
$color-bg-dark: #1e1e1e;

$color-border: #e5e5ec;

$color-white: #ffffff;
$color-black: #000;

$color-tag-bg: #dde7ff;
$color-bar-gray: #dde1ec;

$color-down: #175ae4;
$color-up: #ec444b;
