// Layout tokens — container max-widths and content widths

$container-xl: 107.5rem;   // 1720
$container-lg: 103.125rem; // 1650
$container-md: 88.1875rem; // 1411

$content-md: 46.375rem;    // 742
$content-sm: 43.3125rem;   // 693
