// Radius tokens

$r-sm: var(--r-sm);     // 4
$r-md: var(--r-md);     // 10
$r-lg: var(--r-lg);     // 12
$r-xl: var(--r-xl);     // 20
$r-pill: var(--r-pill); // 50
$r-circle: var(--r-circle);
$r-full: var(--r-full); // 9999
