// Spacing tokens (1rem = 16px)

$sp-1: 0.25rem;     // 4
$sp-2: 0.5rem;      // 8
$sp-3: 0.75rem;     // 12
$sp-4: 1rem;        // 16
$sp-5: 1.25rem;     // 20
$sp-6: 1.5rem;      // 24
$sp-7: 1.75rem;     // 28
$sp-8: 2rem;        // 32
$sp-9: 2.25rem;     // 36
$sp-10: 2.5rem;     // 40
$sp-12: 3rem;       // 48
$sp-15: 3.75rem;    // 60
$sp-16: 4rem;       // 64
$sp-17: 4.25rem;    // 68
$sp-20: 5rem;       // 80
$sp-25: 6.25rem;    // 100
$sp-30: 7.5rem;     // 120
$sp-39: 9.75rem;    // 156
$sp-45: 11.25rem;   // 180
$sp-47: 11.75rem;   // 188
$sp-48: 12rem;      // 192
$sp-53: 13.1875rem; // 211
$sp-60: 15rem;      // 240
