// Spacing tokens (1rem = 16px)

$sp-1: var(--sp-1);   // 4
$sp-2: var(--sp-2);   // 8
$sp-3: var(--sp-3);   // 12
$sp-4: var(--sp-4);   // 16
$sp-5: var(--sp-5);   // 20
$sp-6: var(--sp-6);   // 24
$sp-7: var(--sp-7);   // 28
$sp-8: var(--sp-8);   // 32
$sp-9: var(--sp-9);   // 36
$sp-10: var(--sp-10); // 40
$sp-12: var(--sp-12); // 48
$sp-15: var(--sp-15); // 60
$sp-16: var(--sp-16); // 64
$sp-17: var(--sp-17); // 68
$sp-20: var(--sp-20); // 80
$sp-25: var(--sp-25); // 100
$sp-30: var(--sp-30); // 120
$sp-39: var(--sp-39); // 156
$sp-45: var(--sp-45); // 180
$sp-47: var(--sp-47); // 188
$sp-48: var(--sp-48); // 192
$sp-53: var(--sp-53); // 211
$sp-60: var(--sp-60); // 240
