.reveal {
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 1.3s cubic-bezier(0.22, 0.61, 0.36, 1),
    transform 1.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  will-change: opacity, transform;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
